# Mandatory packages
numpy==1.26.*
pandas
ffmpeg-python
h5py
pyyaml
pyusb
pyserial
openpyxl
orjson
pyzmq
msgpack
dash
dash-bootstrap-components

# Optional packages for supported sensors
# pythonnet
# openant
# pypylon
# movelladot-pc-sdk @ file://%PYTHONPATH_MOVELLA%/movelladot_pc_sdk-2023.6.0-cp310-none-win_amd64.whl
# xsensdeviceapi @ file://%PYTHONPATH_XSENS%/xsensdeviceapi-2022.2.0-cp310-none-win_amd64.whl
# vicon_dssdk @ file://%PYTHONPATH_VICON%/vicon_dssdk
# tmsi
